{{jss.id}}번째 글입니다.
<br />
제목 : {{jss.title}}
<br />
내용 : {{jss.content}}
<br />
생성시간 : {{jss.updated_at|date:'Y-m-d'}}

<br />

{% if user == jss.author %}
<a href="{% url 'update' jss.id %}">
  <button>수정</button>
</a>

<a href="{% url 'delete' jss.id %}">
  <button>삭제</button>
</a>

{% endif %} {% if user.is_authenticated %}
<form method="POST" action="{% url 'create_comment' jss.id %}">
  {% csrf_token %} {{comment_form}}
  <input type="submit" value="확인" />
</form>
{% endif %} {% for comment in jss.comment_set.all %}

<p>
  {{comment.author}} 🗣 {{comment.content}} {% if user == comment.user %}
  <a href="{% url 'delete_comment' jss.id comment.id %}"><button>삭제</button></a>
  {% endif %}
</p>

{% endfor %}
